{% load static %}

<article>

        <div class="pizza_card">
            <h2>{{ pizza.pizza_name }}</h2>
            <p>{{ pizza.pizza_description }}</p>
            <ul class="prices">
                <p>Select Prices:</p>
                <li><a class="purchase-link" href="">small: ${{ pizza.small_price }}</a></li>
                <li><a class="purchase-link" href="">medium: ${{ pizza.medium_price }}</a></li>
                <li><a class="purchase-link" href="">large: ${{ pizza.large_price }}</a></li>
            </ul>
        </div>

</article>