.login-container{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--dark);
    padding: 2rem;
    gap:.8rem;
}
.login-container ul{
    margin: 0px;
    padding: 0px;
}

.login-container ul li{
    color: rgba(255, 0, 0, 0.93);
    text-align: center;
    text-wrap: normal;
    font-size: .7rem;
}

.login-form p{
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    color: rgba(14, 17, 14, 0.56);
}

.login-form label{
    font-size: .8rem;
    color: rgba(14, 17, 14, 0.56);
}

.login-title{
    text-align: center;

}

input{
    padding: .5rem;
    min-height: 1rem;
    border-radius: 5px;
    border: 1px solid rgba(14, 17, 14, 0.32);
}

.login-buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0px;
}

#submitBtn{
    color: var(--dark);
    background-color: var(--accent);
    padding: 0.5em 1.5em;
    border: 1px solid rgba(14, 17, 14, 0.32);
    border-radius: 5px;
    transition: transform 0.3s;
    box-shadow: 0px 1px 3px rgba(14, 17, 14, 0.2);
}

#cancelBtn{
    color: var(--light);
    background-color: rgba(255, 0, 0, 0.93);
    padding: 0.5em 1.5em;
    border: 1px solid rgba(14, 17, 14, 0.32);
    border-radius: 5px;
    transition: transform 0.3s;
    box-shadow: 0px 1px 3px rgba(14, 17, 14, 0.2);
}

#submitBtn:hover, #cancelBtn:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}

#submitBtn:active, #cancelBtn:active{
    color: var(--dark);
}

.forgot-pass{
    font-size: .8rem;
    opacity: .7;
    align-self: end;
    transition: transform 0.3s;
}
.signup-link{
    color: var(--primary);
    transition: transform 0.3s;
}

.signup-link:hover{
    color: var(--accent);
    transform: scale(1.03);
    transition-duration: .3s;
}

.forgot-pass:hover{
    transform: scale(1.03);
    transition-duration: .3s;
}

@media(max-width: 767px){


    .login-title{
        font-size: 1.5rem;
         margin:0px;
    }
    input{
    padding: .2rem;
    min-height: 1rem;
    border-radius: 5px;
    border: 1px solid rgba(14, 17, 14, 0.32);
}

    #submitBtn, #cancelBtn{
        padding: 0.3em 1em;
    }
}
@media (max-height: 600px) {
    .login-container{
        margin-top: 50vh;
        margin-bottom: 20vh;
    }
}