{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Your Cart</title>
{% endblock %}
{% block script %}
    <link rel="stylesheet" href="{% static 'pizzaplace/cart.css' %}">
{% endblock %}
{% block content %}

    {% if cart_items %}
        <ul class="cart-container">
         <h1>{{ username }}'s Cart</h1>
            {% for item in cart_items %}
               <div class="item-container">
                    <div class="item-info">
                        <h2>{{ item.get_item }} {{ item.quantity }}x</h2>
                        <p>{{ item.item_type }}</p>
                    </div>
                        <h3>$ {{item.get_price }}</h3>
                </div>

            {% endfor %}


        </ul>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
{% endblock %}

