{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Main-Page</title>
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static "pizzaplace/main.css" %}">
{% endblock %}

{% block content %}


<h1 class = "menu">Main Menu</h1>

    <div class="all-menu">
    <h1 class="label">Pizza</h1>
        <div class="menu-main">

    {% for pizza in pizzas %}
        {% include "pizzaplace/include/pizza_card.html" %}
    {% endfor %}

    </div>
    <h1 class="label">Appetizer</h1>
    <div class="menu-main">
     {% for appetizer in appetizers %}
        {% include "pizzaplace/include/appetizer.html" %}
    {% endfor %}
    </div>
    <h1 class="label" >Salads</h1>
    <div class="menu-main">
     {% for salad in salads %}
        {% include "pizzaplace/include/salad.html" %}
    {% endfor %}
    </div>
     <h1 class="label">Drinks</h1>
    <div class="menu-main">
     {% for drink in drinks %}
        {% include "pizzaplace/include/drink.html" %}
    {% endfor %}
    </div>

    </div>

    <dialog id="login-dialog">
    <div class="wrapper" >
        <form id="form-dialog" >
            {% csrf_token %}
        <button class="purchasebtn" id="cancelButton" type="button"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></button>
        <h2 class="item-name">Purchase Item</h2>
        <p class="item-price">price</p>
            <div class="quantity-container">
                <label for="quantity">Quantity:</label>
                <div class="quantitybtns">
                    <button id="subtractbtn" type="button" class="aritmethicbtns"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M200-440v-80h560v80H200Z"/></svg></button>
                    <input type="number" type="button" id="quantity" name="quantity" min="1" value="1" required>
                    <button id="addbtn" type="button" class="aritmethicbtns"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg></button>
                </div>

            </div>
            <input type="hidden" id="form-item-id">
            <input type="hidden" id="form-item-type">
            <input type="hidden" id="form-item-price">
            <div class="buttons-form">
                {% if user.is_authenticated %}
                <button class="purchasebtn" type="button" id="addToCartButton">Add to Cart</button>
                {% else %}
                <button class="purchasebtn" type="button" id="addToCartButton" onclick="window.location.href='{% url 'login' %}'">Add to Cart</button>
                {% endif %}
        <button class="purchasebtn" type="button" onclick="window.location.href='{% url 'empty_cart' %}'" id="buyNowButton">Buy Now</button>
            </div>

            </form>
    </div>
    </dialog>
    <footer></footer>
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', (event) =>{
        const login = document.querySelector("#login-dialog")
        const name = document.querySelector(".item-name")
        const price = document.querySelector(".item-price")
        const quantity = document.querySelector("#quantity")
        const wrapper = document.querySelector(".wrapper")
        const add = document.querySelector("#addbtn");
        const subtract = document.querySelector("#subtractbtn")
        const addToCart = document.querySelector("#addToCartButton")
        let itemPrice = 0;
        let itemName = '';
        let itemId = 0;
        let itemType = '';


        document.querySelectorAll(".purchase-link").forEach(link =>{
             link.addEventListener("click", (event) => {
                 event.preventDefault()
                 itemName = event.target.dataset.name;
                 itemId = event.target.dataset.id;
                 itemType = event.target.dataset.type;
                 itemPrice = parseFloat(event.target.dataset.price);
                 name.textContent = itemName;
                 quantity.value = 1;
                 Updateprice()
                 $('#form-item-id').val(itemId)
                 $('#form-item-type').val(itemType)
                 $('#form-item-price').val(itemPrice)
                 login.showModal();

             })
        })

        add.addEventListener("click", ()=>{
            {#console.log("Add")#}
            quantity.value = parseInt(quantity.value) + 1;
            quantity.textContent = quantity.value;
            {#console.log(quantity.value);#}
            Updateprice();
            }
        )
        subtract.addEventListener("click", ()=>{
            {#console.log("Subtract")#}
            if(quantity.value > 1){
                quantity.value = parseInt(quantity.value) - 1;
                quantity.textContent = quantity.value;
                {#console.log(quantity.value);#}
                Updateprice();
            }
        })

        const Updateprice= () =>{
            let updatedPrice =  itemPrice * quantity.value;
            price.innerHTML = `<b>Price:</b> $${updatedPrice.toFixed(2)}`;
        }

        quantity.addEventListener('input', Updateprice);

        $(addToCart).on('click', function(e){
        e.preventDefault();
        itemId = $('#form-item-id').val()
            itemType = $('#form-item-type').val()
            let Quantity = quantity.value;
            itemPrice = $('#form-item-price').val() * Quantity


            console.log(itemType, itemPrice, Quantity, itemId, 'p')
        $.ajax({
            headers: {"X-CSRFToken": '{{ csrf_token }}'},
            url: "{% url 'cart' %}",
            type: 'POST',
            data: {
                item_type: itemType,
                item_id: itemId,
                quantity: Quantity
            },

            success: function (response) {
                $('.error').remove();
                console.log(response)
                if (response.error) {
                    $.each(response.errors, function (name, error) {
                        error = 'small class ="text-muted error">' + error + '</small>'
                        $form.find('[name=' + name + ']').after(error);
                    })
                }
                else{
                window.location = ""
            }
            },

        })
  login.close()

        })
        login.addEventListener("click", (e) => !wrapper.contains(e.target) && login.close() )

        document.querySelector("#cancelButton").addEventListener("click", () => {
           login.close()
        })
    })

    </script>
{% endblock %}



